
/* <!-- Project 3 Stylesheet
Name: sahibpreet singh
Date:11-08-2023
Description: Styles for Project  --> */

body {
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 16px;
	background-color: #898282;

}

.logo {
	height: 80px;
	position: relative;
	top: -10px;
}

.uppernav {
	min-height: 40px;
	display: flex;
	justify-content: center;
	width: 96.7%;
	margin-top: -98px;
	background-color: #d9d31d;
	padding: 25px;

}

.uppernav li {
	list-style: none;
	
}

.uppernav a {
	text-decoration: none;
	color: #01090d;
	padding: 55px;
	font-size: x-large;
}

.uppernav li :hover {
	color: white;
}

.uppernav :focus {
	color: #ffffff;
}

.mainimg {
	width: 100%;
	margin-top: -30px;

}

.heading {
	display: flex;
	position: absolute;
	top: 200px;
	transition: 200ms;
	left: 20px;
	color: #b19b9b;
	font-size: 4vw;
	word-wrap: break-word;
}




.cardio {
	display: flex;
	height: 400px;
	width: 400px;
	margin-top: -20px;
	float: right;
}

.sec {
	color: #fff822;
	margin-top: -5px;

}

.bx1 {
	background-color: #615f5f;
	margin-top: 100px;
	color: #816c6c;
	width: 300px;
	height: 300px;
	border-radius: 5px;
}

.goals {
	display: flex;
	justify-content: center;
	margin-top: 150px;
	color: #fff822;
}

.id {
	display: flex;
	justify-content: center;
	font-size: 30px;
}

.two {
	color: #d9d31d;
	font-size: xx-large;
	display: flex;
	justify-content: center;
}

.container {
	width: 450px;
	height: fit-content;
	background-color: #615f5f;
	color: #f5e6e6;
	border: #01090d solid 1px;
	border-radius: 16px;
	margin-left: 10px;
	font-size: max(1vw,15px);
	word-wrap: break-word;

}

.box2 {
	width: 450px;
	height: fit-content;
	background-color: #615f5f;
	color: #f5e6e6;
	border: #01090d solid 1px;
	border-radius: 16px;
	font-size: max(1vw,15px);
	word-wrap: break-word;
	
}
.bx3{
	display: flex;
	justify-content: space-between;
}
.center {
	margin-top: -230px;
}
.end{
	display: flex;
	justify-content: center
}
@media screen and (max-width:1100px) {

	.uppernav {
		padding-left: 200px;
		width: auto;
		flex: 1;
	
	}
	/* .heading {
		font-size: 50px;
		margin-top: -45px;
	} */

	.uppernav a {
		font-size: max(2vw,10px);
	}

	.uppernav li {
		max-width: max(20vw,100px);
	}
}